/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/doc/Makefile
/doc/Makefile.in
/doc/gpgol.info
/doc/stamp-vti
/doc/version.texi
/forms/Makefile
/forms/Makefile.in
/m4/Makefile
/m4/Makefile.in
/po/Makefile
/po/Makefile.in
/po/POTFILES
/po/gpgol.pot
/po/remove-potcdate.sed
/po/stamp-po
*.o
*.Po
/src/Makefile
/src/Makefile.in
/src/gpgol.dll
/src/versioninfo.rc
/stamp-h1
/src/libassuan.a
/src/libgpg-error.a
/src/libgpgme.a
/src/libmapi32.a
/src/icons/Makefile.in
/tests/Makefile.in
