/* dialogs.rc - GpgOL dialog resources.                           -*- c -*-
 * Copyright (C) 2004, 2005, 2006, 2007 g10 Code GmbH
 * 
 * This file is part of GpgOL.
 * 
 * GpgOL is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 * 
 * GpgOL is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Lesser General Public License for more details.
 * 
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program; if not, see <http://www.gnu.org/licenses/>.
 */


#include "dialogs.h"

#include "config.h"

#include "afxres.h"


IDB_ENCRYPT_16            BITMAP  DISCARDABLE  "icons/encrypt-16.bmp"
IDB_ENCRYPT_16M           BITMAP  DISCARDABLE  "icons/encrypt-16m.bmp"
IDI_ENCRYPT_16_PNG        RCDATA               "icons/encrypt-16.png"
IDI_ENCRYPT_48_PNG        RCDATA               "icons/encrypt-48.png"

IDB_SIGN_16               BITMAP  DISCARDABLE  "icons/sign-16.bmp"
IDB_SIGN_16M              BITMAP  DISCARDABLE  "icons/sign-16m.bmp"
IDI_SIGN_48_PNG           RCDATA               "icons/sign-48.png"

IDB_KEY_MANAGER_16        BITMAP  DISCARDABLE  "icons/key-manager-16.bmp"
IDB_KEY_MANAGER_16M       BITMAP  DISCARDABLE  "icons/key-manager-16m.bmp"
IDI_KEY_MANAGER_64_PNG    RCDATA               "icons/key-manager-64.png"

IDB_DECRYPT_16            BITMAP  DISCARDABLE  "icons/decrypt-16.bmp"
IDB_DECRYPT_16M           BITMAP  DISCARDABLE  "icons/decrypt-16m.bmp"
IDI_DECRYPT_16_PNG        RCDATA               "icons/decrypt-16.png"
IDI_DECRYPT_48_PNG        RCDATA               "icons/decrypt-48.png"

IDB_VERIFY_16             BITMAP  DISCARDABLE  "icons/verify-16.bmp"
IDB_VERIFY_16M            BITMAP  DISCARDABLE  "icons/verify-16m.bmp"
IDI_VERIFY_48_PNG         RCDATA               "icons/verify-48.png"

IDB_DECRYPT_VERIFY_16     BITMAP  DISCARDABLE  "icons/decrypt-verify-16.bmp"
IDB_DECRYPT_VERIFY_16M    BITMAP  DISCARDABLE  "icons/decrypt-verify-16m.bmp"

IDI_ENCSIGN_FILE_48_PNG   RCDATA               "icons/encrypt-sign-file-48.png"

IDI_LEVEL_0_ENC             RCDATA             "icons/level-0-enc.png"
IDI_LEVEL_1_ENC             RCDATA             "icons/level-1-enc.png"

/* We use the same icon for level 2 and 3 */
IDI_LEVEL_2_ENC             RCDATA             "icons/level-3-enc.png"
IDI_LEVEL_3_ENC             RCDATA             "icons/level-3-enc.png"
IDI_LEVEL_4_ENC             RCDATA             "icons/level-4-enc.png"
IDI_LEVEL_0                 RCDATA             "icons/level-0.png"
IDI_LEVEL_1                 RCDATA             "icons/level-1.png"
IDI_LEVEL_2                 RCDATA             "icons/level-3.png"
IDI_LEVEL_3                 RCDATA             "icons/level-3.png"
IDI_LEVEL_4                 RCDATA             "icons/level-4.png"

IDI_SIGN_ENCRYPT_40_PNG    RCDATA              "icons/sign-enc-40.png"
IDI_ENCRYPT_20_PNG         RCDATA              "icons/encrypt-20.png"
IDI_SIGN_20_PNG            RCDATA              "icons/sign-20.png"

IDD_GPG_OPTIONS  DIALOG DISCARDABLE  0, 0, 266, 274
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "GpgOL"
FONT 8, "MS Sans Serif"
BEGIN
    /* General options box.  */
    GROUPBOX        "general-options", IDC_G_GENERAL,
                    9, 9, 250, 25

    CONTROL         "enable-smime", IDC_ENABLE_SMIME,
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
                    24, 19, 215, 10

    /* Send options box.  */
    GROUPBOX        "send-options", IDC_G_SEND,
                    9, 40, 250, 38

    CONTROL         "encrypt-by-default", IDC_ENCRYPT_DEFAULT,
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
                    24, 50, 215, 10

    CONTROL         "sign-by-default", IDC_SIGN_DEFAULT, 
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
                    24, 61, 215, 10

    /* Receive options box.  */
    GROUPBOX        "recv-options", IDC_G_RECV,
                    9, 82, 250, 36

  /* We have no reliable way to detect the preview window, thus we
     don't show this option.  */
/*     CONTROL         "preview-decrypt", IDC_PREVIEW_DECRYPT, */
/*                     "Button", BS_AUTOCHECKBOX | WS_TABSTOP, */
/*                     24, 114, 215, 10 */

    CONTROL         "prefer-html", IDC_PREFER_HTML,
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
                    24,  94, 215, 10
 
    CONTROL         "body-as-attachment", IDC_BODY_AS_ATTACHMENT,
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
                    24, 103, 215, 10
 
    /* Stuff at the lower left corner.  */
    LTEXT           "GpgOL by g10 Code GmbH", IDC_G10CODE_STRING, 
                      8, 229, 100, 8
    LTEXT           "Version x ", IDC_VERSION_INFO,
                      8, 240, 100, 9

  /* No more logo due to problems with the background colour.  */
/*     CONTROL         IDB_BANNER, IDC_BITMAP, */
/*                     "Static", SS_BITMAP | SS_REALSIZEIMAGE, */
/*                       8, 212, 150, 64 */

    PUSHBUTTON      "advanced", IDC_GPG_OPTIONS,
                    130, 240, 50, 14

    PUSHBUTTON      "gpgconf", IDC_GPG_CONF,
                    190, 240, 70, 14

END



IDD_EXT_OPTIONS DIALOG DISCARDABLE  0, 0, 155, 70
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "GpgOL - Debug Options"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "debug-logfile", IDC_T_DEBUG_LOGFILE,
                    8, 10, 122, 8

    EDITTEXT        IDC_DEBUG_LOGFILE,
                    8, 20, 138, 12, ES_AUTOHSCROLL

    DEFPUSHBUTTON   "&OK", IDOK,
                    90, 50, 50, 14
END


/*
   The dialog to select recipient keys
 */
IDD_ENC DIALOG DISCARDABLE  0, 0, 332, 215
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "GpgOL - Select Recipients"
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL         "List1", IDC_ENC_RSET1,
                    "SysListView32", LVS_REPORT | LVS_NOSORTHEADER |
                                     WS_BORDER  | WS_TABSTOP,
                    8, 4, 314, 92

    LTEXT           "Ausgewählte Empfänger:", IDC_ENC_RSET2_T,
                    8, 98, 130, 8

    CONTROL         "List2", IDC_ENC_RSET2,
                    "SysListView32",  LVS_REPORT | LVS_NOSORTHEADER |
                                      WS_BORDER  | WS_TABSTOP,
                    8, 110, 313, 49

    LTEXT           "Recipient which were NOT found", IDC_ENC_NOTFOUND_T,
                    8, 161, 128, 8

    LISTBOX         IDC_ENC_NOTFOUND,
                    8, 170, 313, 22,  LBS_SORT   | LBS_NOINTEGRALHEIGHT |
                                      WS_VSCROLL | WS_TABSTOP

    DEFPUSHBUTTON   "&OK", IDOK,
                     221, 196, 50, 14

    PUSHBUTTON      "&Cancel-btn", IDCANCEL,
                     273, 196, 50, 14
END


/* 
   The decryption dialog used to select the secret key.
*/
IDD_DEC DIALOG DISCARDABLE  0, 0, 225, 101
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Secret Key Selection"
FONT 8, "MS Sans Serif"
BEGIN
    COMBOBOX        IDC_DEC_KEYLIST, 
                    9, 7, 209, 58,  CBS_DROPDOWNLIST | WS_VSCROLL | 
                                    WS_TABSTOP

    LTEXT           "", IDC_DEC_HINT,
                    9, 25, 201, 10

    LTEXT           "enter-passphrase", IDC_DEC_PASSINF,
                    9, 37, 158, 8

    EDITTEXT        IDC_DEC_PASS,
                    9, 51, 207, 12,  ES_PASSWORD | ES_AUTOHSCROLL

    CONTROL         "&Hide Typing", IDC_DEC_HIDE,
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
                    138, 64, 81, 10

    DEFPUSHBUTTON   "&OK", IDOK,
                    115, 83, 50, 14

    PUSHBUTTON      "&Cancel-btn", IDCANCEL,
                    167, 83, 50, 14
END


/* 
   The extended decryption dialog used to select the secret key.
*/
IDD_DECEXT DIALOG DISCARDABLE  0, 0, 207, 134
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "GpgOL - Secret Key Selection"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "encrypted-to",IDC_DECEXT_RSET_T,
                    7, 4, 128, 8

    LISTBOX         IDC_DECEXT_RSET,
                    7, 16, 193, 25,  LBS_NOINTEGRALHEIGHT | 
                                     WS_VSCROLL | WS_TABSTOP

    COMBOBOX        IDC_DECEXT_KEYLIST,
                    8, 54, 191, 14,  CBS_DROPDOWN | CBS_SORT | 
                                     WS_DISABLED | WS_VSCROLL | WS_TABSTOP

    LTEXT           "", IDC_DECEXT_HINT,
                    7, 73, 193, 8

    LTEXT           "enter-passphrase", IDC_DECEXT_PASSINF,
                    7, 85, 158, 8

    EDITTEXT        IDC_DECEXT_PASS,
                    7, 96, 192, 12,  ES_PASSWORD | ES_AUTOHSCROLL

    CONTROL         "hide-typing", IDC_DECEXT_HIDE,
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
                    122, 108, 81, 10

    DEFPUSHBUTTON   "OK", IDOK,
                    98, 125, 50, 14

    PUSHBUTTON      "&Cancel-btn", IDCANCEL,
                    149, 125, 50, 14
END


/* 
   The dialog to display verification results.  
*/
IDD_VRY DIALOG DISCARDABLE  0, 0, 253, 116
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "GpgOL - Signature Verification Result"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "made-at", IDC_VRY_TIME_T,
                    3, 6, 50, 8

    EDITTEXT        IDC_VRY_TIME,
                    55, 4, 76, 12,  ES_AUTOHSCROLL | ES_READONLY

    LTEXT           "using", IDC_VRY_PKALGO_T,
                    132, 6, 18, 8

    EDITTEXT        IDC_VRY_PKALGO,
                    152, 4, 20, 12,  ES_AUTOHSCROLL | ES_READONLY

    LTEXT           "key-id", IDC_VRY_KEYID_T,
                    174, 7, 50, 8

    EDITTEXT        IDC_VRY_KEYID,
                    196, 4, 51, 12,  ES_AUTOHSCROLL | ES_READONLY

    EDITTEXT        IDC_VRY_STATUS,
                    3, 29, 92, 12,   ES_AUTOHSCROLL | ES_READONLY

    LTEXT           "from", IDC_VRY_ISSUER_T,
                    98, 31, 14, 8

    EDITTEXT        IDC_VRY_ISSUER,
                    117, 29, 131, 13,  ES_AUTOHSCROLL | ES_READONLY

    LTEXT           "aka", IDC_VRY_AKALIST_T,
                    3, 47, 56, 8

    LISTBOX         IDC_VRY_AKALIST,
                    3, 56, 245, 25,  LBS_SORT | LBS_NOINTEGRALHEIGHT |
                                     WS_VSCROLL | WS_TABSTOP

    LTEXT           "", IDC_VRY_HINT,
                    3, 83, 245, 10

    DEFPUSHBUTTON   "&OK", IDOK,
                    198, 96, 50, 14
END

IDD_ADDIN_OPTIONS DIALOGEX DISCARDABLE  300, 300, 266, 170
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_SHELLFONT | DS_SETFONT
CAPTION "GpgOL"
FONT 8, "MS Shell Dlg"
BEGIN
    /* General options box.  */
#ifdef MIME_SEND
    GROUPBOX        "general-options", IDC_G_GENERAL,
                    9, 9, 250, 25
#else
    GROUPBOX        "general-options", IDC_G_GENERAL,
                    9, 9, 250, 35
#endif
    CONTROL         "enable-smime", IDC_ENABLE_SMIME,
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
                    24, 19, 215, 10
#ifndef MIME_SEND
    CONTROL         "enable-mime-ui", IDC_MIME_UI,
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
                    24, 29, 215, 10
#endif

    /* Send options box.  */
    GROUPBOX        "send-options", IDC_G_SEND,
                    9, 50, 250, 50

    CONTROL         "encrypt-by-default", IDC_ENCRYPT_DEFAULT,
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
                    24, 60, 215, 10

    CONTROL         "sign-by-default", IDC_SIGN_DEFAULT,
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
                    24, 71, 215, 10

    CONTROL         "inline-pgp", IDC_INLINE_PGP,
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
                    24, 82, 215, 10

//    CONTROL         "autoresolve", IDC_AUTORRESOLVE,
//                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
//                    24, 93, 215, 10

    /* Stuff at the lower left corner.  */
    LTEXT           "GpgOL by Gpg4win", IDC_GPG4WIN_STRING,
                      8, 144, 100, 8
    LTEXT           "Version x ", IDC_VERSION_INFO,
                      8, 155, 100, 9

    PUSHBUTTON      "advanced", IDC_GPG_OPTIONS,
                    180, 120, 70, 14

    PUSHBUTTON      "gpgconf", IDC_GPG_CONF,
                    180, 135, 70, 14

    DEFPUSHBUTTON   "&OK", IDOK,
                    180, 150, 70, 14

END
