/* dialogs.rc - GpgOL dialog resources.                           -*- c -*-
 * Copyright (C) 2004, 2005, 2006, 2007 g10 Code GmbH
 * 
 * This file is part of GpgOL.
 * 
 * GpgOL is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 * 
 * GpgOL is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Lesser General Public License for more details.
 * 
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program; if not, see <http://www.gnu.org/licenses/>.
 */


#include "dialogs.h"

#include "afxres.h"


IDB_DECRYPT             BITMAP  DISCARDABLE     "decrypt.bmp"
IDB_ENCRYPT             BITMAP  DISCARDABLE     "encrypt.bmp"
IDB_SIGN                BITMAP  DISCARDABLE     "sign.bmp"
IDB_KEY_MANAGER         BITMAP  DISCARDABLE     "key_mana.bmp"
IDB_BANNER              BITMAP  DISCARDABLE     "logo.bmp"


IDD_GPG_OPTIONS  DIALOG DISCARDABLE  0, 0, 266, 274
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "GpgOL"
FONT 8, "MS Sans Serif"
BEGIN
    /* Options box.  */
    GROUPBOX        "options", IDC_G_OPTIONS,
                    9, 9, 242, 124

    CONTROL         "encrypt-by-default", IDC_ENCRYPT_DEFAULT,
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
                    24, 19, 215, 10

    CONTROL         "sign-by-default", IDC_SIGN_DEFAULT, 
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
                    24, 30, 215, 10

    CONTROL         "openpgp-by-default", IDC_OPENPGP_DEFAULT,
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
                    24, 42, 215, 10

    CONTROL         "smime-by-default", IDC_SMIME_DEFAULT,
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
                    24, 54, 215, 10

    CONTROL         "enable-smime", IDC_ENABLE_SMIME,
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
                    24, 66, 215, 10

  /* Note: We epp the spae for now in case we need to add other config
     options. */
/*     CONTROL         "encrypt-to", IDC_ENCRYPT_WITH_STANDARD_KEY, */
/*                     "Button", BS_AUTOCHECKBOX | WS_TABSTOP, */
/*                     24, 79, 215, 10 */

/*     EDITTEXT        IDC_ENCRYPT_TO,  */
/*                     36, 91, 133, 12, ES_AUTOHSCROLL */

    CONTROL         "preview-decrypt", IDC_PREVIEW_DECRYPT,
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
                    24, 107, 215, 10

    CONTROL         "prefer-html", IDC_PREFER_HTML,
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
                    24, 119, 215, 10
 
    /* Passphrase option box.  */
    GROUPBOX        "Passphrase", IDC_G_PASSPHRASE,
                    9, 136, 242, 31

    LTEXT           "passphrase-ttl", IDC_T_PASSPHRASE_TTL,
                     24, 148, 80, 8

    EDITTEXT        IDC_TIME_PHRASES,
                    107, 147, 39, 14, ES_AUTOHSCROLL

    LTEXT           "minutes", IDC_T_PASSPHRASE_MIN,
                    151, 149, 50, 8

    /* Stuff below the group boxes.  */
    PUSHBUTTON      "advanced", IDC_GPG_OPTIONS,
                    202, 178, 50, 14

    LTEXT           "GpgOL by g10 Code GmbH", IDC_STATIC, 
                      8, 197, 100, 8
    LTEXT           "Version x ", IDC_VERSION_INFO,
                    150, 197, 109, 9

    CONTROL         IDB_BANNER, IDC_BITMAP,
                    "Static", SS_BITMAP | SS_REALSIZEIMAGE,
                      8, 212, 150, 64
END



IDD_EXT_OPTIONS DIALOG DISCARDABLE  0, 0, 167, 119
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "GpgOL - Extended Options (debug only!)"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "keyman", IDC_T_OPT_KEYMAN_PATH,
                    2,20, 122,8

    EDITTEXT        IDC_OPT_KEYMAN_PATH,
                    2, 34, 144, 12, ES_AUTOHSCROLL

    PUSHBUTTON      "...", IDC_OPT_SEL_KEYMAN_PATH,
                    148, 34, 11, 14

    LTEXT           "debug-logfile", IDC_T_DEBUG_LOGFILE,
                    2, 50, 122,8

    EDITTEXT        IDC_DEBUG_LOGFILE,
                    2, 60, 144, 12, ES_AUTOHSCROLL

    DEFPUSHBUTTON   "&OK", IDOK,
                    112, 101, 50, 14
END


/*
   The dialog to select recipient keys
 */
IDD_ENC DIALOG DISCARDABLE  0, 0, 332, 215
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "GpgOL - Select Recipients"
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL         "List1", IDC_ENC_RSET1,
                    "SysListView32", LVS_REPORT | LVS_NOSORTHEADER |
                                     WS_BORDER  | WS_TABSTOP,
                    8, 4, 314, 92

    LTEXT           "Ausgewählte Empfänger:", IDC_ENC_RSET2_T,
                    8, 98, 130, 8

    CONTROL         "List2", IDC_ENC_RSET2,
                    "SysListView32",  LVS_REPORT | LVS_NOSORTHEADER |
                                      WS_BORDER  | WS_TABSTOP,
                    8, 110, 313, 49

    LTEXT           "Recipient which were NOT found", IDC_ENC_NOTFOUND_T,
                    8, 161, 128, 8

    LISTBOX         IDC_ENC_NOTFOUND,
                    8, 170, 313, 22,  LBS_SORT   | LBS_NOINTEGRALHEIGHT |
                                      WS_VSCROLL | WS_TABSTOP

    DEFPUSHBUTTON   "&OK", IDOK,
                     221, 196, 50, 14

    PUSHBUTTON      "&Cancel-btn", IDCANCEL,
                     273, 196, 50, 14
END


/* 
   The decryption dialog used to select the secret key.
*/
IDD_DEC DIALOG DISCARDABLE  0, 0, 225, 101
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Secret Key Selection"
FONT 8, "MS Sans Serif"
BEGIN
    COMBOBOX        IDC_DEC_KEYLIST, 
                    9, 7, 209, 58,  CBS_DROPDOWNLIST | WS_VSCROLL | 
                                    WS_TABSTOP

    LTEXT           "", IDC_DEC_HINT,
                    9, 25, 201, 10

    LTEXT           "enter-passphrase", IDC_DEC_PASSINF,
                    9, 37, 158, 8

    EDITTEXT        IDC_DEC_PASS,
                    9, 51, 207, 12,  ES_PASSWORD | ES_AUTOHSCROLL

    CONTROL         "&Hide Typing", IDC_DEC_HIDE,
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
                    138, 64, 81, 10

    DEFPUSHBUTTON   "&OK", IDOK,
                    115, 83, 50, 14

    PUSHBUTTON      "&Cancel-btn", IDCANCEL,
                    167, 83, 50, 14
END


/* 
   The extended decryption dialog used to select the secret key.
*/
IDD_DECEXT DIALOG DISCARDABLE  0, 0, 207, 134
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "GpgOL - Secret Key Selection"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "encrypted-to",IDC_DECEXT_RSET_T,
                    7, 4, 128, 8

    LISTBOX         IDC_DECEXT_RSET,
                    7, 16, 193, 25,  LBS_NOINTEGRALHEIGHT | 
                                     WS_VSCROLL | WS_TABSTOP

    COMBOBOX        IDC_DECEXT_KEYLIST,
                    8, 54, 191, 14,  CBS_DROPDOWN | CBS_SORT | 
                                     WS_DISABLED | WS_VSCROLL | WS_TABSTOP

    LTEXT           "", IDC_DECEXT_HINT,
                    7, 73, 193, 8

    LTEXT           "enter-passphrase", IDC_DECEXT_PASSINF,
                    7, 85, 158, 8

    EDITTEXT        IDC_DECEXT_PASS,
                    7, 96, 192, 12,  ES_PASSWORD | ES_AUTOHSCROLL

    CONTROL         "hide-typing", IDC_DECEXT_HIDE,
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
                    122, 108, 81, 10

    DEFPUSHBUTTON   "OK", IDOK,
                    98, 125, 50, 14

    PUSHBUTTON      "&Cancel-btn", IDCANCEL,
                    149, 125, 50, 14
END


/* 
   The dialog to display verification results.  
*/
IDD_VRY DIALOG DISCARDABLE  0, 0, 253, 116
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "GpgOL - Signature Verification Result"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "made-at", IDC_VRY_TIME_T,
                    3, 6, 50, 8

    EDITTEXT        IDC_VRY_TIME,
                    55, 4, 76, 12,  ES_AUTOHSCROLL | ES_READONLY

    LTEXT           "using", IDC_VRY_PKALGO_T,
                    132, 6, 18, 8

    EDITTEXT        IDC_VRY_PKALGO,
                    152, 4, 20, 12,  ES_AUTOHSCROLL | ES_READONLY

    LTEXT           "key-id", IDC_VRY_KEYID_T,
                    174, 7, 50, 8

    EDITTEXT        IDC_VRY_KEYID,
                    196, 4, 51, 12,  ES_AUTOHSCROLL | ES_READONLY

    EDITTEXT        IDC_VRY_STATUS,
                    3, 29, 92, 12,   ES_AUTOHSCROLL | ES_READONLY

    LTEXT           "from", IDC_VRY_ISSUER_T,
                    98, 31, 14, 8

    EDITTEXT        IDC_VRY_ISSUER,
                    117, 29, 131, 13,  ES_AUTOHSCROLL | ES_READONLY

    LTEXT           "aka", IDC_VRY_AKALIST_T,
                    3, 47, 56, 8

    LISTBOX         IDC_VRY_AKALIST,
                    3, 56, 245, 25,  LBS_SORT | LBS_NOINTEGRALHEIGHT |
                                     WS_VSCROLL | WS_TABSTOP

    LTEXT           "", IDC_VRY_HINT,
                    3, 83, 245, 10

    DEFPUSHBUTTON   "&OK", IDOK,
                    198, 96, 50, 14
END

