/* dialogs.rc - GpgOL dialog resources.                           -*- c -*-
 * Copyright (C) 2004, 2005, 2006, 2007 g10 Code GmbH
 * 
 * This file is part of GpgOL.
 * 
 * GpgOL is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 * 
 * GpgOL is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Lesser General Public License for more details.
 * 
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program; if not, see <http://www.gnu.org/licenses/>.
 */


#include "dialogs.h"

#include "config.h"

#include "afxres.h"


IDI_ENCRYPT_16_PNG        RCDATA               "icons/encrypt-16.png"
IDI_ENCRYPT_48_PNG        RCDATA               "icons/encrypt-48.png"

IDI_SIGN_48_PNG           RCDATA               "icons/sign-48.png"

IDI_DECRYPT_16_PNG        RCDATA               "icons/decrypt-16.png"
IDI_DECRYPT_48_PNG        RCDATA               "icons/decrypt-48.png"

IDI_VERIFY_48_PNG         RCDATA               "icons/verify-48.png"

IDI_ENCSIGN_FILE_48_PNG   RCDATA               "icons/encrypt-sign-file-48.png"

IDI_LEVEL_0_ENC             RCDATA             "icons/level-0-enc.png"
IDI_LEVEL_1_ENC             RCDATA             "icons/level-1-enc.png"

/* We use the same icon for level 2 and 3 */
IDI_LEVEL_2_ENC             RCDATA             "icons/level-3-enc.png"
IDI_LEVEL_3_ENC             RCDATA             "icons/level-3-enc.png"
IDI_LEVEL_4_ENC             RCDATA             "icons/level-4-enc.png"
IDI_LEVEL_0                 RCDATA             "icons/level-0.png"
IDI_LEVEL_1                 RCDATA             "icons/level-1.png"
IDI_LEVEL_2                 RCDATA             "icons/level-3.png"
IDI_LEVEL_3                 RCDATA             "icons/level-3.png"
IDI_LEVEL_4                 RCDATA             "icons/level-4.png"

IDI_SIGN_ENCRYPT_40_PNG    RCDATA              "icons/sign-enc-40.png"
IDI_ENCRYPT_20_PNG         RCDATA              "icons/encrypt-20.png"
IDI_SIGN_20_PNG            RCDATA              "icons/sign-20.png"

IDI_GPGOL_LOCK_ICON        ICON    DISCARDABLE "icons/lock.ico"

IDB_LOGO                   BITMAP  DISCARDABLE "icons/logo.bmp"

IDD_GPG_OPTIONS  DIALOG DISCARDABLE  0, 0, 266, 274
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "GpgOL"
FONT 8, "MS Sans Serif"
BEGIN
    /* General options box.  */
    GROUPBOX        "general-options", IDC_G_GENERAL,
                    9, 9, 250, 25

    CONTROL         "enable-smime", IDC_ENABLE_SMIME,
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
                    24, 19, 215, 10

    /* Send options box.  */
    GROUPBOX        "send-options", IDC_G_SEND,
                    9, 40, 250, 38

    CONTROL         "encrypt-by-default", IDC_ENCRYPT_DEFAULT,
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
                    24, 50, 215, 10

    CONTROL         "sign-by-default", IDC_SIGN_DEFAULT, 
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
                    24, 61, 215, 10

    /* Receive options box.  */
    GROUPBOX        "recv-options", IDC_G_RECV,
                    9, 82, 250, 36

  /* We have no reliable way to detect the preview window, thus we
     don't show this option.  */
/*     CONTROL         "preview-decrypt", IDC_PREVIEW_DECRYPT, */
/*                     "Button", BS_AUTOCHECKBOX | WS_TABSTOP, */
/*                     24, 114, 215, 10 */

    CONTROL         "prefer-html", IDC_PREFER_HTML,
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
                    24,  94, 215, 10
 
    CONTROL         "body-as-attachment", IDC_BODY_AS_ATTACHMENT,
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
                    24, 103, 215, 10
 
    /* Stuff at the lower left corner.  */
    LTEXT           "GpgOL by g10 Code GmbH", IDC_G10CODE_STRING, 
                      8, 229, 100, 8
    LTEXT           "Version x ", IDC_VERSION_INFO,
                      8, 240, 100, 9

  /* No more logo due to problems with the background colour.  */
/*     CONTROL         IDB_BANNER, IDC_BITMAP, */
/*                     "Static", SS_BITMAP | SS_REALSIZEIMAGE, */
/*                       8, 212, 150, 64 */

    PUSHBUTTON      "advanced", IDC_GPG_OPTIONS,
                    130, 240, 50, 14

    PUSHBUTTON      "gpgconf", IDC_GPG_CONF,
                    190, 240, 70, 14

END



IDD_EXT_OPTIONS DIALOG DISCARDABLE  0, 0, 155, 70
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "GpgOL - Debug Options"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "debug-logfile", IDC_T_DEBUG_LOGFILE,
                    8, 10, 122, 8

    EDITTEXT        IDC_DEBUG_LOGFILE,
                    8, 20, 138, 12, ES_AUTOHSCROLL

    DEFPUSHBUTTON   "&OK", IDOK,
                    90, 50, 50, 14
END


IDD_ADDIN_OPTIONS DIALOGEX DISCARDABLE  300, 300, 286, 190
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_SHELLFONT | DS_SETFONT
CAPTION "GpgOL"
FONT 8, "MS Shell Dlg"
BEGIN
    /* General options box.  */
    GROUPBOX        "general-options", IDC_G_GENERAL,
                    9, 9, 270, 25
    CONTROL         "enable-smime", IDC_ENABLE_SMIME,
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
                    24, 19, 235, 10

    /* Send options box.  */
    GROUPBOX        "send-options", IDC_G_SEND,
                    9, 50, 270, 67

    CONTROL         "encrypt-by-default", IDC_ENCRYPT_DEFAULT,
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
                    24, 60, 235, 10

    CONTROL         "sign-by-default", IDC_SIGN_DEFAULT,
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
                    24, 71, 235, 10

    CONTROL         "inline-pgp", IDC_INLINE_PGP,
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
                    24, 82, 235, 10

    CONTROL         "replycrypt", IDC_REPLYCRYPT,
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
                    24, 93, 235, 10

    CONTROL         "autoresolve", IDC_AUTORRESOLVE,
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
                    24, 104, 235, 10

    /* Stuff at the lower left corner.  */
    CONTROL         IDB_LOGO, IDC_BITMAP,
                    "Static", SS_BITMAP | SS_REALSIZEIMAGE,
                      10, 125, 128, 80

    LTEXT           "Version x ", IDC_VERSION_INFO,
                      10, 175, 100, 9

    PUSHBUTTON      "advanced", IDC_GPG_OPTIONS,
                    180, 140, 90, 14

    PUSHBUTTON      "gpgconf", IDC_GPG_CONF,
                    180, 155, 90, 14

    DEFPUSHBUTTON   "&OK", IDOK,
                    180, 170, 90, 14

END
