/* gpgol-rsrcs.rc - Main resources for this DLL        -*- c -*-
 *	Copyright (C) 2004, 2005 g10 Code GmbH
 * 
 * This file is part of GPGol.
 * 
 * GPGol is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2 of the License, or (at your option) any later version.
 * 
 * GPGol is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Lesser General Public License for more details.
 * 
 * You should have received a copy of the GNU Lesser General Public
 * License along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
 * 02110-1301, USA.
 */


#include "gpgol-ids.h"

#include "afxres.h"


/////////////////////////////////////////////////////////////////////////////
// Deutsch (Deutschland) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_DEU)
#ifdef _WIN32
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
#pragma code_page(1252)
#endif //_WIN32


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_ENC_DE DIALOG DISCARDABLE  0, 0, 332, 215
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Recipient Dialog"
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL         "List1",IDC_ENC_RSET1,"SysListView32",LVS_REPORT | 
                    WS_BORDER | WS_TABSTOP,8,4,314,92
    LTEXT           "Ausgewählte Empfänger:",IDC_STATIC,
                    8,98,130,8
    CONTROL         "List2",IDC_ENC_RSET2,"SysListView32",LVS_REPORT | 
                    WS_BORDER | WS_TABSTOP,8,110,313,49
    LTEXT           "Empfänger die NICHT gefunden wurden:",IDC_ENC_INFO,
                    8,161,128,8
    LISTBOX         IDC_ENC_NOTFOUND,8,170,313,22,LBS_SORT | 
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "&OK",IDOK,221,196,50,14
    PUSHBUTTON      "&Abbrechen",IDCANCEL,273,196,50,14
END

IDD_DEC_EXT_DE DIALOG DISCARDABLE  0, 0, 207, 143
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Secret Key Dialog"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Verschlüsselt mit folgenden Public-Keys:",IDC_STATIC,7,
                    4,127,8
    LISTBOX         IDC_DECEXT_RSET,7,16,193,25,LBS_NOINTEGRALHEIGHT | 
                    WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_DECEXT_KEYLIST,7,54,191,14,CBS_DROPDOWN | CBS_SORT | 
                    WS_DISABLED | WS_VSCROLL | WS_TABSTOP
    LTEXT           "",IDC_DECEXT_HINT,7,73,193,8
    LTEXT           "Passphrase um geheimen Schlüssel zu entsperren",
                    IDC_DECEXT_PASSINF,7,85,158,8
    EDITTEXT        IDC_DECEXT_PASS,7,96,192,12,ES_PASSWORD | ES_AUTOHSCROLL
    CONTROL         "&Eingabe ausblenden",IDC_DECEXT_HIDE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,122,108,81,10
    DEFPUSHBUTTON   "OK",IDOK,98,125,50,14
    PUSHBUTTON      "&Abbrechen",IDCANCEL,149,125,50,14
END

IDD_OPT_DE DIALOG DISCARDABLE  0, 0, 167, 119
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Konfigurationsdialog"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Dateiname der Schlüsselverwaltung",IDC_STATIC,2,20,
                    122,8
    EDITTEXT        IDC_OPT_KEYMAN,2,34,144,12,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_OPT_SELKEYMAN,148,34,11,14

    LTEXT           "Debugausgabe (zur Problemanalyse)",IDC_STATIC,2,50,
                    122,8
    EDITTEXT        IDC_DEBUG_LOGFILE,2,60,144,12,ES_AUTOHSCROLL

    DEFPUSHBUTTON   "&OK",IDOK,112,101,50,14
END

IDD_VRY_DE DIALOG DISCARDABLE  0, 0, 253, 116
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Verifictation Result"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Signatur erstellt",IDC_STATIC,3,6,49,8
    EDITTEXT        IDC_VRY_TIME,55,4,76,12,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "mit",IDC_STATIC,132,6,10,8
    EDITTEXT        IDC_VRY_PKALGO,152,4,20,12,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "key ID",IDC_STATIC,174,7,22,8
    EDITTEXT        IDC_VRY_KEYID,196,4,51,12,ES_AUTOHSCROLL | ES_READONLY
    EDITTEXT        IDC_VRY_STATUS,3,29,92,12,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "von",IDC_STATIC,98,31,13,8
    EDITTEXT        IDC_VRY_ISSUER,117,29,131,13,ES_AUTOHSCROLL | 
                    ES_READONLY
    LTEXT           "auch bekannt als",IDC_STATIC,3,47,56,8
    LISTBOX         IDC_VRY_AKALIST,3,56,245,25,LBS_SORT | 
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "",IDC_VRY_HINT,3,83,245,10
    DEFPUSHBUTTON   "&OK",IDOK,198,96,50,14
END

IDD_DEC_DE DIALOG DISCARDABLE  0, 0, 225, 101
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Secret Key Dialog"
FONT 8, "MS Sans Serif"
BEGIN
    COMBOBOX        IDC_DEC_KEYLIST,9,7,209,58,CBS_DROPDOWNLIST | WS_VSCROLL | 
                    WS_TABSTOP
    LTEXT           "",IDC_DEC_HINT,9,25,201,10
    LTEXT           "Passphrase eingeben für den geheimen Schlüssel",
                    IDC_DEC_PASSINF,9,37,158,8
    EDITTEXT        IDC_DEC_PASS,9,51,207,12,ES_PASSWORD | ES_AUTOHSCROLL
    CONTROL         "&Eingabe ausblenden",IDC_DEC_HIDE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,138,64,81,10
    DEFPUSHBUTTON   "&OK",IDOK,115,83,50,14
    PUSHBUTTON      "&Cancel",IDCANCEL,167,83,50,14
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO DISCARDABLE 
BEGIN
    IDD_ENC_DE, DIALOG
    BEGIN
        LEFTMARGIN, 4
        RIGHTMARGIN, 326
        TOPMARGIN, 3
        BOTTOMMARGIN, 211
    END

    IDD_DEC_EXT_DE, DIALOG
    BEGIN
        LEFTMARGIN, 1
        RIGHTMARGIN, 202
        TOPMARGIN, 3
        BOTTOMMARGIN, 139
    END

    IDD_OPT_DE, DIALOG
    BEGIN
        LEFTMARGIN, 2
        RIGHTMARGIN, 162
        TOPMARGIN, 4
        BOTTOMMARGIN, 115
    END

    IDD_VRY_DE, DIALOG
    BEGIN
        LEFTMARGIN, 3
        RIGHTMARGIN, 248
        TOPMARGIN, 4
        BOTTOMMARGIN, 110
    END

    IDD_DEC_DE, DIALOG
    BEGIN
        LEFTMARGIN, 3
        RIGHTMARGIN, 218
        TOPMARGIN, 3
        BOTTOMMARGIN, 97
    END
END
#endif    // APSTUDIO_INVOKED

#endif    // Deutsch (Deutschland) resources
/////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////
// Englisch (USA) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DEC DIALOG DISCARDABLE  0, 0, 225, 87
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Secret Key Dialog"
FONT 8, "MS Sans Serif"
BEGIN
    COMBOBOX        IDC_DEC_KEYLIST,9,7,209,58,CBS_DROPDOWNLIST | WS_VSCROLL | 
                    WS_TABSTOP
    LTEXT           "",IDC_DEC_HINT,9,25,201,10
    LTEXT           "Enter passphrase for your secret key",IDC_DEC_PASSINF,9,
                    37,116,8
    CONTROL         "&Hide Typing",IDC_DEC_HIDE,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,162,37,54,10
    EDITTEXT        IDC_DEC_PASS,9,51,207,12,ES_PASSWORD | ES_AUTOHSCROLL
    DEFPUSHBUTTON   "&OK",IDOK,115,69,50,14
    PUSHBUTTON      "&Cancel",IDCANCEL,167,69,50,14
END

IDD_OPT DIALOG DISCARDABLE  0, 0, 167, 119
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Configuration Dialog"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Path to key-manager binary",IDC_STATIC,2,72,87,8
    EDITTEXT        IDC_OPT_KEYMAN,2,81,144,12,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_OPT_SELKEYMAN,148,80,11,14
    DEFPUSHBUTTON   "&OK",IDOK,112,101,50,14
END

IDD_VRY DIALOG DISCARDABLE  0, 0, 253, 116
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Verification Result"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Signature made",IDC_STATIC,3,6,50,8
    EDITTEXT        IDC_VRY_TIME,55,4,76,12,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "using",IDC_STATIC,132,6,18,8
    EDITTEXT        IDC_VRY_PKALGO,152,4,20,12,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "key ID",IDC_STATIC,174,7,22,8
    EDITTEXT        IDC_VRY_KEYID,196,4,51,12,ES_AUTOHSCROLL | ES_READONLY
    EDITTEXT        IDC_VRY_STATUS,3,29,92,12,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "from",IDC_STATIC,98,31,14,8
    EDITTEXT        IDC_VRY_ISSUER,117,29,131,13,ES_AUTOHSCROLL | 
                    ES_READONLY
    LTEXT           "also known as",IDC_STATIC,3,47,46,8
    LISTBOX         IDC_VRY_AKALIST,3,56,245,25,LBS_SORT | 
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "",IDC_VRY_HINT,3,83,245,10
    DEFPUSHBUTTON   "&OK",IDOK,198,96,50,14
END

IDD_ENC DIALOG DISCARDABLE  0, 0, 332, 215
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Recipient Dialog"
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL         "List1",IDC_ENC_RSET1,"SysListView32",LVS_REPORT | 
                    WS_BORDER | WS_TABSTOP,8,4,314,92
    CONTROL         "List2",IDC_ENC_RSET2,"SysListView32",LVS_REPORT | 
                    WS_BORDER | WS_TABSTOP,8,98,313,49
    LTEXT           "Recipient which were NOT found",IDC_ENC_INFO,8,149,106,
                    8
    LISTBOX         IDC_ENC_NOTFOUND,8,158,313,22,LBS_SORT | 
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "&OK",IDOK,221,196,50,14
    PUSHBUTTON      "&Cancel",IDCANCEL,273,196,50,14
END

IDD_DEC_EXT DIALOG DISCARDABLE  0, 0, 205, 134
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Secret Key Dialog"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Encrypted with the following public-keys:",IDC_STATIC,7,
                    4,128,8
    LISTBOX         IDC_DECEXT_RSET,7,16,193,25,LBS_NOINTEGRALHEIGHT | 
                    WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_DECEXT_KEYLIST,8,54,191,14,CBS_DROPDOWN | CBS_SORT | 
                    WS_DISABLED | WS_VSCROLL | WS_TABSTOP
    LTEXT           "",IDC_DECEXT_HINT,7,73,193,8
    LTEXT           "Enter passphrase for your secret key",
                    IDC_DECEXT_PASSINF,7,83,116,8
    CONTROL         "&Hide Typing",IDC_DECEXT_HIDE,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,144,82,54,10
    EDITTEXT        IDC_DECEXT_PASS,7,95,192,12,ES_PASSWORD | ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,98,116,50,14
    PUSHBUTTON      "&Cancel",IDCANCEL,150,116,50,14
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO DISCARDABLE 
BEGIN
    IDD_DEC, DIALOG
    BEGIN
        LEFTMARGIN, 3
        RIGHTMARGIN, 218
        TOPMARGIN, 3
        BOTTOMMARGIN, 83
    END

    IDD_OPT, DIALOG
    BEGIN
        LEFTMARGIN, 2
        RIGHTMARGIN, 162
        TOPMARGIN, 4
        BOTTOMMARGIN, 115
    END

    IDD_VRY, DIALOG
    BEGIN
        LEFTMARGIN, 3
        RIGHTMARGIN, 248
        TOPMARGIN, 4
        BOTTOMMARGIN, 110
    END

    IDD_ENC, DIALOG
    BEGIN
        LEFTMARGIN, 4
        RIGHTMARGIN, 326
        TOPMARGIN, 3
        BOTTOMMARGIN, 211
    END

    IDD_DEC_EXT, DIALOG
    BEGIN
        LEFTMARGIN, 1
        RIGHTMARGIN, 200
        TOPMARGIN, 3
        BOTTOMMARGIN, 130
    END
END
#endif    // APSTUDIO_INVOKED

#endif    // Englisch (USA) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

