/* olflange-rsrcs.rc - Olflange specific resource.         -*- c -*-
 *	Copyright (C) 2004, 2005, 2006 g10 Code GmbH
 * 
 * This file is part of GpgOL.
 * 
 * GpgOL is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 * 
 * GpgOL is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Lesser General Public License for more details.
 * 
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program; if not, see <http://www.gnu.org/licenses/>.
 */


#include "olflange-ids.h"

#include "afxres.h"


IDB_DECRYPT             BITMAP  DISCARDABLE     "decrypt.bmp"
IDB_ENCRYPT             BITMAP  DISCARDABLE     "encrypt.bmp"
IDB_SIGN                BITMAP  DISCARDABLE     "sign.bmp"
IDB_KEY_MANAGER         BITMAP  DISCARDABLE     "key_mana.bmp"
IDB_BANNER              BITMAP  DISCARDABLE     "logo.bmp"


IDD_GPG_OPTIONS  DIALOG DISCARDABLE  0, 0, 266, 274
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "GpgOL"
FONT 8, "MS Sans Serif"
BEGIN
    /* Options box.  */
    GROUPBOX        "options", IDC_G_OPTIONS,
                    9, 9, 242, 112

    CONTROL         "encrypt-by-default", IDC_ENCRYPT_DEFAULT,
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
                    24, 19, 215, 10

    CONTROL         "sign-by-default", IDC_SIGN_DEFAULT, 
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
                    24, 30, 215, 10

    CONTROL         "smime-by-default", IDC_SMIME_DEFAULT,
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
                    24, 42, 215, 10

    CONTROL         "enable-smime", IDC_ENABLE_SMIME,
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
                    24, 54, 215, 10

    CONTROL         "encrypt-to", IDC_ENCRYPT_WITH_STANDARD_KEY,
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
                    24, 67, 215, 10

    EDITTEXT        IDC_ENCRYPT_TO, 
                    36, 79, 133, 12, ES_AUTOHSCROLL

    CONTROL         "preview-decrypt", IDC_PREVIEW_DECRYPT,
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
                    24, 95, 215, 10

    CONTROL         "prefer-html", IDC_PREFER_HTML,
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
                    24, 107, 215, 10
 
    /* Passphrase option box.  */
    GROUPBOX        "Passphrase", IDC_G_PASSPHRASE,
                    9, 124, 242, 31

    LTEXT           "passphrase-ttl", IDC_T_PASSPHRASE_TTL,
                     24, 136, 80, 8

    EDITTEXT        IDC_TIME_PHRASES,
                    107, 135, 39, 14, ES_AUTOHSCROLL

    LTEXT           "minutes", IDC_T_PASSPHRASE_MIN,
                    151, 137, 50, 8

    /* Stuff below the group boxes.  */
    PUSHBUTTON      "advanced", IDC_GPG_OPTIONS,
                    202, 166, 50, 14

    LTEXT           "GpgOL by g10 Code GmbH", IDC_STATIC, 
                      8, 185, 100, 8
    LTEXT           "Version x ", IDC_VERSION_INFO,
                    150, 185, 109, 9

    CONTROL         IDB_BANNER, IDC_BITMAP,
                    "Static", SS_BITMAP | SS_REALSIZEIMAGE,
                      8, 200, 150, 64
END



IDD_EXT_OPTIONS DIALOG DISCARDABLE  0, 0, 167, 119
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "GpgOL - Extended Options"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "keyman", IDC_T_OPT_KEYMAN_PATH,
                    2,20, 122,8

    EDITTEXT        IDC_OPT_KEYMAN_PATH,
                    2, 34, 144, 12, ES_AUTOHSCROLL

    PUSHBUTTON      "...", IDC_OPT_SEL_KEYMAN_PATH,
                    148, 34, 11, 14

    LTEXT           "debug-logfile", IDC_T_DEBUG_LOGFILE,
                    2, 50, 122,8

    EDITTEXT        IDC_DEBUG_LOGFILE,
                    2, 60, 144, 12, ES_AUTOHSCROLL

    DEFPUSHBUTTON   "&OK", IDOK,
                    112, 101, 50, 14
END





